.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.hero--primary {
    --ifm-hero-background-color: #257dc2;
    --ifm-hero-text-color: #fff;
}

.hero--primary {
  --ifm-hero-background-color: #24b3c4 !important;
  --ifm-hero-text-color: var(--ifm-font-color-base-inverse);
}